---
- name: Install Nova-compute on compute node
  apt: name="nova-compute" state=present
- name: Configure nova
  template: src="nova.conf.j2" dest="/etc/nova/nova.conf" mode=0644
  notify:
    - restart nova-compute
- name: Configure nova-compute
  template: src="nova-compute.conf.j2" dest="/etc/nova/nova-compute.conf" mode=0644
  notify:
    - restart nova-compute
